.duration-box {
    display: flex;
    justify-content: right;
    font-size: small;
}

.duration-box * {
    /* margin-left: 1rem;  */
    font-size: small;
} 

article {
    margin: 1rem;
}

.upper-desc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.upper-desc ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* skills */
#skills-box {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#skills-box li {
    font-size: small;
    margin-right: 2rem;
    opacity: .6;
}

#city {
    font-size: small;
}

#description-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#description-box span.material-icons {
    position: absolute;
}

#description-box span.material-icons+img{
    height: 6rem;
}