#add-dialog[open], #edit-dialog[open]  {
    padding: 0;
    padding-bottom: .4rem;
    position: fixed;
    margin-left: auto;
    margin-right: 2rem;
    bottom: 1.5rem;
    width: 30rem;
    height: auto;
    border-radius: 1rem;
    border: none;
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,.7));
    display: flex;  
    flex-direction: column;  
    align-items: center;
}

.dialog-close-button {
    cursor: pointer;
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    top: .3rem;
    right: .3rem;
    border: none;
    background-color: rgb(124, 148, 86);
    color: white;
    font-size: 2rem;
    font-weight: 100;
}

.dialog-delete-button {
    cursor: pointer;
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    top: .3rem;
    right: 3rem;
    border: none;
    background-color: rgb(124, 148, 86);
    color: white;
    font-size: 2rem;
    font-weight: 100;
}

#contact-form > .dialog-submit-button {
    cursor:pointer;
    background-color: rgb(124, 148, 86);
    height: 4rem;
    color: white;
    border-radius: .4rem;
    font-size: 2rem;
    border:none;
} 

.dialog-header{
    margin-bottom: .4rem;
    background-color: rgb(124, 148, 86);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem 1rem 0 0;
    color: white;
    font-size: 2rem;
}

#contact-form {
    width: 27rem;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
}

#contact-form > * {
    width: 27rem;
    height: 1.7rem;
    border-radius: .4rem;
    background: white;
    padding:1rem;

    border-color: gray;
    border-width: .5px;
    font-size: 1.5rem;
    margin: .5rem;
}

#contact-form option {
    background-color: white;
}
#contact-form input {
    width:25rem;
}

#contact-form span {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#contact-form input[type=date] {
    width:9rem;
    font-size: 1.1rem;
}

#contact-form textarea {
    width:25rem;
    min-height: 4rem;
}

#contact-form input[type=submit] {
    width: 100%;
}

#contact-warning{
    padding: 1rem;
}

#dialog-add-open-button {
    display: flex;    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    width: 70px;
    height: 70px;
    border-radius: 3rem;
    border: none;
    background-color: rgb(124, 148, 86);
    color: white;
    font-size: xx-large;
    font-weight: bold;
}
